.footer {
  background-color: #e65100;
  color: #fff;
  padding: 2px 20px;  /* menos alto para hacerlo más delgado */
  margin-top: 20px;
  width: 100%;
  box-sizing: border-box;
  font-size: 0.9rem;
}

.contacto-footer {
  display: flex;
  justify-content: space-around;  
  align-items: center;  
  flex-wrap: nowrap;
  text-align: center;
  gap: 10px;
}

.footer-info-left,
.footer-info-center,
.footer-info-right {
  flex: 1;  /* que cada columna ocupe espacio igual */
  margin: 0;
  padding: 0;
}

.footer-copy {
  text-align: center;
  margin-top: 6px;
  font-size: 0.8rem;
  opacity: 0.7;
  line-height: 1.2;
}
