.header-container {
  background-color: white;
  padding: 10px;
  border-bottom: 1px solid #fffdfd;
}

.logo-img {
  height: 190px;
  margin-right: 10px;
  vertical-align: middle;
}
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
