.login-container {
  max-width: 400px;
  margin: 3rem auto;
  padding: 2rem;
  background-color: #fff8f0;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  
}

.login-title {
  text-align: center;
  color: #e65100;
  font-weight: 700;
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
}

.login-form p {
  margin-bottom: 1rem;
}

.login-form label {
  display: block;
  margin-bottom: 0.3rem;
  color: #290B00;
  font-weight: 600;
}

.login-form input {
  width: 100%;
  padding: 0.5rem;
  border-radius: 6px;
  border: 1px solid #ccc;
  font-size: 0.95rem;
  background-color: white;
}

.btn-login {
  background-color: #e65100;
  color: white;
  border: none;
  padding: 0.6rem 1.2rem;
  font-weight: bold;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 1rem;
  width: 100%;
  transition: background-color 0.3s ease;
}

.btn-login:hover {
  background-color: #bf360c;
}

.login-alert {
  margin-top: 1rem;
  padding: 0.7rem;
  background-color: #d4edda;
  color: #155724;
  border-radius: 6px;
  text-align: center;
}

.login-container a.login-link {
  color: #e65100 !important;
  font-weight: bold;
  text-decoration: none !important;
  display: block;
  text-align: center;
  margin-top: 1rem;
  font-size: 0.95rem;
  transition: color 0.3s ease;
}

.login-container a.login-link:hover {
  color: #bf360c !important;
  text-decoration: underline !important;
}