.password-container {
  max-width: 600px;
  margin: 3rem auto;
  background-color: #fff8f0;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  text-align: center;
  color: #290B00;
}

.password-title {
  font-size: 1.6rem;
  color: #e65100;
  margin-bottom: 1.0rem;
}

.password-text {
  font-size: 1.0rem;
}

.link-login {
  color: #e65100;
  font-weight: bold;
  text-decoration: none;
}

.link-login:hover {
  text-decoration: underline;
}

.btn-password {
  background-color: #e65100;
  color: white;
  border: none;
  padding: 0.6rem 1.2rem;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-password:hover {
  background-color: #bf360c;
}