/* Fondo y estilo de la card */
.adopcion-card {
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
  padding: 30px;
}

/* Título */
.adopcion-title {
  color: #666;
  font-weight: bold;
}

/* Texto */
.adopcion-text {
  color: #555;
  font-size: 1.1rem;
}

/* Link Términos */
.link-terminos {
  color: #e65100;
  text-decoration: underline;
  cursor: pointer;
}

.link-terminos:hover {
  color: #b84300;
}

/* Botón enviar */
.btn-enviar {
  background-color: orange;
  border: none;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  font-weight: bold;
  text-transform: uppercase;
  transition: background-color 0.3s ease;
}

.btn-enviar:hover {
  background-color: #e65100;
  color: #fff;
}

.form-check-input {
  width: 1.2em;
  height: 1.2em;
  border-radius: 50%;
  border: 2px solid #e65100;
  background-color: #fff;
}

.form-check-input:checked {
  background-color: orange;
  border-color: #e65100;
}
