.pets-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  padding: 30px;
}

/* Cada card de producto */
.pet-card {
  background-color: #f9f9f9;
  border-radius: 10px;
  width: 220px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 380px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  overflow: hidden; /* la imagen respete el borde */
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  transform: translateY(0);
  padding: 0; /* el padding que separaba la imagen */
}


.pet-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}


/* Imagen arriba, bien encajada */
.pet-card a {
  display: block;
  width: 100%;
  
  overflow: hidden;
}

/* Imagen dentro del link */
.pet-card a img {
  display: block;
  width: 100%;
  height: 220px;
  object-fit: cover;
}

/* Nombre del producto */
.pet-nombre {
  margin: 12px 0 8px;
  font-size: 1.1rem;
  color: #333;
}



/* Botón */
.pet-button {
  background-color: #d3d3d3; /* gris claro */
  color: #111;
  border: none;
  padding: 8px 14px;
  border-radius: 4px;
  cursor: pointer;
  margin-bottom: 12px;
  transition: background-color 0.3s ease;
}

.pet-button:hover {
  background-color: #bbb;
}