{% extends "base.html" %}

{% block content %}
<h2>{{ mascota.nombre }} </h2>

<div style="display: flex; gap: 10px;">
    {% for img in imagenes %}
        <div style="position: relative; display: inline-block;">
            <img src="{{ img.imagen.url }}" width="200">
        </div>
    {% endfor %}
</div>

<p><strong>Edad:</strong> {{ mascota.edad }}</p>
<p><strong>Especie:</strong> {{ mascota.especie }}</p>
<p><strong>Descripción:</strong> {{ mascota.descripcion }}</p>
<p><strong>Castrado:</strong> {{ mascota.castrado|yesno:"Sí,No" }}</p>
<p><strong>Provincia:</strong> {{ mascota.provincia}}</p>
<p><strong>Localidad:</strong> {{ mascota.localidad }}</p>

{% if user.is_authenticated %}
    {% if mascota.duenio != user %}
        <form method="post" action="{% url 'solicitar_mascota' mascota.id %}">
            {% csrf_token %}
            <button type="submit">Solicitar adopción</button>
        </form>
    {% endif %}
{% else %}
    <a href="{% url 'login' %}?next={% url 'detalle_mascota' mascota.id %}">Iniciá sesión para solicitar adopción</a>
{% endif %}

<a href="{% url 'perfil_usuario' %}">Volver a mi perfil</a>
{% endblock %}