{% extends "base.html" %}
{% load static %}

{% block title %}Recuperar Contraseña – PetMatch{% endblock %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/password.css' %}">
{% endblock %}

{% block content %}
<div class="password-container">
  <h1 class="password-title">Recuperar contraseña</h1>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit" class="btn-password">Enviar email de recuperación</button>
  </form>
</div>
{% endblock %}
