{% extends "base.html" %}
{% load static %}

{% block title %}Contraseña restablecida – PetMatch{% endblock %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'css/password.css' %}">
{% endblock %}

{% block content %}
<div class="password-container">
  <h1 class="password-title">Contraseña restablecida</h1>
  <p class="password-text">
    Tu contraseña ha sido cambiada correctamente.
  </p>
  <p class="password-text">
    Ya podés <a href="{% url 'login' %}" class="link-login">iniciar sesión</a>.
  </p>
</div>
{% endblock %}
